
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap');


.nav-items {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 20px;
    
}
.list-items {
    padding-right: 4rem;
    font-size: 1rem;
    color: #fff;
}
.list-items:hover{
    color: #e8bcb9;
    cursor: pointer;
}
.list-items.active {
    text-decoration: underline;
    text-decoration-color: #e8bcb9;
    color: #e8bcb9;
    text-underline-offset: 6px;
    
}
.logo {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: #e8bcb9;
}
.logo p {
    padding-top: 0;
    font-family: "Lobster Two", sans-serif;
    font-weight: 500;
}
.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.navbar {
    /* position: sticky; */
    top: 0;
    z-index: 3;
    padding: 1rem 2rem;

}
.menu {
    display: none;
}

@media (max-width: 576px) and (max-width: 768px){
    .menu {
        display: block;
        cursor: pointer;
    }
   
    .nav-items {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 30px; /* Adjust based on your header height */
        right: 10px;
        background-color: transparent;
        padding: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.8);
        border-radius: 5px;
    }
    .nav-items.open {
        display: flex; /* Show navigation items when menu is open */
      }

    
}