.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 8rem;
    border: 1px solid #000;
    height: 60vh;
    margin-left: 6rem;
    margin-right: 6rem;
    border-radius: 5px;
}
li {
    list-style: none;
}
.name{
    font-size: 2rem;
    font-weight: 400;
    text-decoration: underline;
    margin-bottom: 0;

}
.profession {
    font-weight: 300;
    font-size: 1.4rem;
    margin-bottom: 0;
}
h1 {
    margin-bottom: 0;
}