body {
    height: 100vh;
    background-color: rgb(230, 230, 221);
    
}
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
}
.container img {
    width: 100%;
    object-fit: cover;
    padding-top: 1rem;
    height: 70%;
}
.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 20px;
    
}

.skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;

}
li {
    list-style: none;
}
.name{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;

}
.name span {
    font-size: 5rem;
    color: blueviolet;

}
.profession {
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 0;
    color: blueviolet;
}
h1 {
    margin-bottom: 0;
    font-size: 3rem;
    line-height: 1.5;
    text-decoration: underline;
    text-decoration-color: blueviolet;
    text-decoration-thickness: 2px;
}

 .skill1 {
    display: flex;
    align-items: center;
    gap: 20px;
    
 }
 .skill2 {
    display: flex;
    align-items: center;
    gap: 20px;
 }
 .skill1 p {
    font-size: 1.5rem;
    font-size: 300;
    color: blueviolet
 }
 .skill2 p {
    font-size: 1.5rem;
    font-size: 300;
    color: blueviolet
 }