
.intro {
    text-align: center;
    font-size: 3rem;
    font-weight: 500;
    line-height: 1.8;
    text-decoration: underline;
    text-decoration-color: #3d5290;
    text-decoration-thickness: 3px;
    text-underline-offset: 6px;
}
.intro-paragraph {
    text-align: center;
    margin: 2rem 10rem;
}
.container {
    display: flex;
    align-items: center;
    justify-content: start;
}
.thumbnail {
    width: 100px;
    height: 100px;
    background-color: black;
}
.proLink {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.proLink p {
    padding-left: 0.5rem;
    width: 200px;
}
 @media (max-width: 576px) and (max-width: 768px){
    .intro-paragraph {
        text-align: center;
        margin: 10px 4px;
    }
 }
 @media (max-width: 768px) {
    .proLink {
        margin-left: 20px
    }
 }
