
.intro {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 1.8;
    text-decoration: underline;
    text-decoration-color: blueviolet;
    text-decoration-thickness: 4px;
}
.container {
    display: flex;
    align-items: center;
    justify-content: start;
}
.thumbnail {
    width: 100px;
    height: 100px;
    background-color: black;
}
.proLink {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.proLink p {
    padding-left: 0.5rem;
    width: 200px;
}

